<div class="container mt-5 mb-5 pt-4 pb-4" style="margin: 0px auto;">
    <div class="text-center pt-4 pb-2 mb-5">
        <i class="fas fa-exclamation-triangle" style="color: rgb(138, 31, 31); font-size: 150px"></i>
        <div class="display-1 mt-2 mb-2">Error 404</div>
        <div class="display-4 mt-2 mb-2">Página no encontrada</div>
        <div class="display-6 mt-2 mb-2">Ir a <a href="/">Inicio</a></div>
    </div>
</div>